* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    flex-direction: column;
}

body.dark .containerck {
    background-color: black;
    color: white;
}
body.dark .line {
    background-color: white;
}
body.dark .back-button,
body.dark a,
body.dark h2 {
    color: white;
}
body.dark .cardck {
    color: white;
    background-color: black;
    border: 1px solid white;
}
body.dark .quantity-button.quantity-down,
body.dark .quantity-button.quantity-up,
body.dark .quantity input {
    color: white;
    border: 1px solid white;
    background-color: black;
}
body.dark .form-group input,
body.dark .form-group textarea {
    background-color: black;
    color: white;
}
body.dark .card-bawah,
body.dark .card-input {
    background-color: black;
    color: white;
    border: 1px solid white;
}
body.dark .totalnya {
    border-top: 2px solid white;
}
body.dark .card-input input {
    background-color: black;
    color: white;
}
body.dark .details-toggle,
body.dark .lis {
    background-color: black;
    border: 1px solid white;
}
body.dark .card-pembayaran,
body.dark .format,
body.dark .checklist-item {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.ck .top-bar{
    position: fixed;
    top: -5px;
    left: 0;
    height: 70px;
    width: 100%;
    border-top: 1.5px solid black;
    box-shadow: 0 1px 100px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: background-color 0.5s ease;
    background-color: transparent;
    z-index: 100;
}
.containerck {
    margin-left: 3%;
    margin-top: 10%;
    width: 95%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}

.rowck {
    display: flex;
    justify-content: space-around; 
    gap: 5px; 
    flex-wrap: wrap; 
    margin: 0 auto;
}

.col-left {
    width: 60%; 
    flex: 2;
    min-width: 300px;
    padding-right: 20px;
}


.back-button {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    margin-bottom: 10px;
}

.back-button i {
    margin-right: 8px;
}

.line {
    width: 100%;
    height: 2px; 
    background-color: #333;
    margin: 10px 0; 
}

h2 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 5px;
    margin-bottom: 20px;
}


.toggle-list {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
    justify-content: flex-end;
    margin-top: 5px;
}

.toggle-list i {
    margin-left: 10px; 
    font-size: 1.5rem;
}

ul.list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul.list li {
    padding: 8px 20px;
    border-bottom: 1px solid #ddd;
}

ul.list li:last-child {
    border-bottom: none;
}

.cardck {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.cardck img {
    width: 100px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 20px; 
}

.card-content {
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    flex-direction: column;
}

.card-content h2 {
    margin: 0 0 5px 0; 
    font-size: 1.5rem;
    color: #333;
}

.card-content p {
    margin: 0px 0; 
    font-size: 1rem;
    color: #666;
}

.quantity-container {
    display: flex;
    align-items: center; 
    gap: 39px; 
}
.quantity {
    position: relative;
    margin-top: 20px; 
    margin-left: 20px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    border: 0.5px solid black;
    border-radius: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.quantity input {
    width: 100px;
    height: 42px;
    line-height: 42px; 
    display: block;
    padding: 0;
    border: 1px solid #eee;
    text-align: center; 
    font-size: 16px; 
    box-sizing: border-box;
    border-radius: 10px;
}


.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 42px;
    justify-content: center;
}

.quantity-button {
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 18px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    user-select: none;
}

.quantity-button.quantity-up {
    border-bottom: 1px solid #eee;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-button.quantity-down {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.quantity-info {
    display: flex;
    margin-top: 20px; 
    flex-direction: column;
}

.harga {
    font-weight: bold;
    font-family: "JetBrains Mono", serif;
    font-size: 19px;
}
.satuan {
    font-size: 14px;
    color: #666;
}

.trash-icon {
    font-size: 45px; 
    color: #888; 
    cursor: pointer; 
    transition: color 0.3s ease;
    margin-top: 20px;
}

.trash-icon:hover {
    color: #e74c3c; 
}


.card-bawah {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 20px; 
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-bawah h1 {
    margin: 0; 
    font-size: 1.8rem;
    color: #333;
    width: 100%; 
}

.card-bawah table {
    width: 50%;
    border-collapse: collapse;
    font-size: 20px;
    margin: 0; 
}

.card-bawah table th,
.card-bawah table td {
    padding: 0 10px 10px 0;
    text-align: left;
    font-family: "JetBrains Mono", serif;
}

.card-bawah table th {
    font-weight: bold;
}


.card-bawah table tr:hover {
    background-color: #f1f1f1;
    color: black;
}

.totalnya {
    border-top: 2px solid black;
    width: 50%;
}

.card-bawah .wrapper {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
    width: 100%;
}

.card-bawah .card-input {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-bawah .card-input h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #333;
}

.card-bawah .card-input .input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-bawah .card-input input {
    width: 200px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

.card-bawah .card-input .apply-btn {
    padding: 10px 8px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-bawah .card-input .apply-btn:hover {
    background-color: #0056b3;
}

.card-input h1 {
    font-size: 20px;
    margin: 10px 10px;
}
.details-toggle {
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.lis {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 10px;
}

.lis li {
    padding: 5px 0;
}

.lis.hidden {
    display: none;
}

i.bx-chevron-down {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

i.bx-chevron-up {
    transform: rotate(180deg);
    font-size: 1.5rem;
}




.col-right {
    width: 35%; 
    flex: 1;
    min-width: 200px;
    padding-left: 20px; 
}
.col-right .format {
    background-color: #002D8D;
    color: white;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.col-right .cardck {
    background-color: #002D8D;
    color: white;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 142%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.address-group {
    display: flex;
    gap: 15px; 
}

.address-group input {
    flex: 1; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    width: 142%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
}



.card-pembayaran {
    background-color: #002D8D;
    color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ckls {
    font-size: 24px;
    border-bottom: 2px solid white;
}



.checklist-group {
    display: flex;
    gap: 15px; 
    margin-top: 15px;
    color: black;

}

.checklist-group label {
    font-size: 11px;
    display: flex;
    align-items: center; 
}
.checklist-group input {
    margin-right: 5px; 
}

.checklist-item {
    padding: 10px 1px 10px 1px;
    background-color: white; 
    border-radius: 4px;
    display: flex;
    align-items: center; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.checklist-item:hover {
    background-color: #e0e0e0; 
}

.checklist-item input {
    margin-right: 10px; 
}


.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.info-table th, .info-table td {
    padding: 0 10px 10px 0;
    text-align: left;
    font-size: 20px;
    font-family: "JetBrains Mono", serif;
}

.info-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.info-table tr:nth-child(even) {
    background-color: transparent;
}

.totalnya2 {
    border-top: 2px solid white;
    width: 50%;
}
.beli button {
    display: flex;
    align-items: center;
    gap: 8px; 
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.beli button i {
    font-size: 18px; 
}

.beli button:hover {
    background-color: #0056b3; 
}

@media (max-width: 1024px) {
    .form-group textarea {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .rowck {
        justify-content: center;
        gap: 15px;
    }

    .col-left,
    .col-right {
        flex: 1;
        min-width: 100%;
    }

    h2 {
        font-size: 1.3rem; 
    }

    .cardck {
        flex-direction: column;
        padding: 15px;
    }

    .cardck img {
        width: 100%;
        margin-bottom: 15px;
    }
    .form-group textarea {
        width: 100%;
    }
    .form-group input {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .containerck {
        width: 95%;
        padding: 15px;
    }

    .rowck {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .col-left,
    .col-right {
        width: 100%; 
    }

    h2 {
        font-size: 1.2rem; 
    }

    .cardck {
        padding: 10px;
    }

    .cardck img {
        width: 80%;
    }
    .card-bawah table,
    .card-bawah .card-input {
        width: 100%;
    }
    .wrapper {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .rowck {
        flex-direction: column;
        gap: 20px;
    }

    .col-left,
    .col-right {
        width: 100%; 
    }

    h2 {
        font-size: 1rem; 
    }

    .cardck {
        padding: 10px;
        flex-direction: column;
    }

    .cardck img {
        width: 90%;
    }

    .quantity-container {
        justify-content: space-between;
        flex-direction: column;
        gap: 15px; 
    }

    .details-toggle {
        font-size: 1rem;
    }

    .card-input h1 {
        font-size: 18px;
    }
    .form-group input {
        width: 100%;
    }
    .form-group textarea {
        width: 100%;
    }
}