* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    position: fixed;
    top: 50px;
    left: 0;
    height: 70px;
    width: 100%;
    border-top: 1.5px solid black;
    box-shadow: 0 1px 100px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #ffffff;
    z-index: 100;
}


.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    padding: 12px 40px;
    color: black;
    z-index: 99;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    padding: 0.1px;
    background-image: url('img/gasos.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

body.dark .profile-container {
    background-color: black; 
    color: #ffffff; 
}

body.dark .profile-container {
    background-color: #1e1e1e; 
}
body.dark .profile-info p strong {
    color: #ffffff;
}


body.dark .orders li {
    background-color: black;
    color: white;
}

body.dark .orders li:hover {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
}

body.dark .card{
    background-color: black; 
    color: #ffffff; 
}
body.dark .card-prf {
    background-color: black;
    color: white;
}


.profile-container {
    width: 100%;
    max-width: 90%;
    margin: 130px auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}
