.databarang .card{
    width: 100%;
    border: 1.5px solid black;
    border-radius: 20px;
}
.databarang .card .card-header{
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    font-size: 30px;
    font-weight: bold;
}
.databarang .card .card-header button{
    cursor: pointer;
    padding: 5px 10px;
    background-color: #25c53b;
    color: white;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 10px;
}
.databarang .card .card-header button:hover{
    padding: 5px 10px;
    background-color: #137521;
    color: white;
    border: 1px solid rgb(139, 139, 139);
}


.databarang .card .card-body{
    padding: 20px 10px;
}
.databarang .card-body {
    overflow-x: auto;
}
.databarang table {
    width: 100%;
    border-collapse: collapse;
}
.databarang th, .databarang td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}
.databarang table {
    min-width: 1000px; 
}
.databarang table tbody tr td i{
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    
}
.databarang table tbody tr td .detail{
    background-color: #0077c7;
    border: 1px solid black;
    border-radius: 5px;
}
.databarang table tbody tr td .detail:hover{
    background-color: #005288;
    border: 1px solid black;
}
.databarang table tbody tr td .edit{
    background-color: #9cbe00;
    border: 1px solid black;
    border-radius: 5px;
}
.databarang table tbody tr td .edit:hover{
    background-color: #7a9600;
    border: 1px solid black;
}
.databarang table tbody tr td .hapus{
    background-color: #be0000;
    border: 1px solid black;
    border-radius: 5px;
}
.databarang table tbody tr td .hapus:hover{
    background-color: #8b0000;
    border: 1px solid black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
    background-color: #fff;
    margin: 10px auto;
    border: 1px solid #888;
    width: 90%;
    border-radius: 20px;
    max-height: 95%; /* Limit the height of the modal */
    overflow-y: auto; /* Enable scrolling if the content overflows */
}

.modal .modal-header {
    font-size: 20px;
    font-weight: bold;
    background-color: #777777;
    color: white;
    display: flex;
    height: 40px;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.modal .modal-content form {
    padding: 20px;
}

.modal .modal-content form .form-group {
    margin: 5px 0;
}

.modal .modal-content form .form-group input,
select {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.modal .modal-content form .form-group textarea {
    width: 100%;
    max-width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}
.modal .modal-content form .form-group .submit{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #25c53b;
    border: 1px solid black;
    color: white;
    border-radius: 10px;
}
.modal .modal-content form .form-group .submit:hover{
    background-color:#137521;
}
.modal .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}
