header nav {
    width: calc(100% - 40px);
    height: 70px;
    background-color: #5A43A0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header nav .hamburger i {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

header nav .hamburger .tutup {
    display: none;
}

header nav .profil {
    width: 40px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

header .sidebar {
    position: absolute;
    width: 300px;
    height: calc(100vh - 70px);
    background-color: #454B61;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 30px;
    transform: translateX(-300px);
    transition: transform 0.3s ease;
    z-index: 999;
}

header .sidebar.active {
    transform: translateX(0);
}

header .sidebar a {
    text-decoration: none;
    color: white;
    margin: 5px 0;
    font-size: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

header .sidebar a.active{
    background-color: #735CB9;
}

.footer {
    background-color: #5A43A0;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #a1d1ff;
}